<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>

</section>

<section class="product-reviews">
  <article class="panel panel-default">
    <div class="panel-heading">
      <h2>Product Reviews</h2>
    </div>
    <% @product.reviews.reverse.each do |review| %>
    <div class="product-review panel-body">
      <p> Rating: <%= review.rating %></p>
      <p> Reviewer: <%= User.find(review.user_id).name %></p>
      <p> <%= review.description %> </p>
    </div>
    <% end %>
  </article>
</section>

<section class="product-reviews-form">
  <article class="panel panel-default">
    <div class="panel-heading">
      <h3>Create Reviews</h3>
    </div>
    <%= form_for ([@product, @review]) do |f| %>
    <div class="product-review-form panel-body">
      <div class="form-group">
        <%= f.label :rating %>
        <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]) %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>
      <%= f.submit 'Create Review', class: 'btn btn-primary' %>
    </div>
    <% end %>
  </article>
</section>
